.App {
  text-align: center;
}

.app__form {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: #e9e9eb;
  width: 100%;
  margin: 10px;
}
.app__formcontrol {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;

}

.app__formcontrol--input {
  width: 100% !important;
}